@use "../abstract" as abstract;

.header {
  top: 0;
  z-index: 20;
  font-size: 100%;
  position: sticky;
  max-height: 120rem;
  padding-block: 2.4rem;
  backdrop-filter: blur(10px) saturate(50%);
  background: linear-gradient(180deg, rgba(5, 5, 5), rgba(5, 5, 5, .6));

  @include abstract.mq(sm) {
    padding-block: 2rem;
  }

  h1 {
    font-size: clamp(1.8rem, 4vw, 3.8rem);
  }
}

.navigation {
  display: flex;
  position: relative;
  align-items: baseline;
  justify-content: space-between;

  @include abstract.mq(sm) {
    gap: 2.4rem;
    align-items: center;
  }

  &__search {
    flex-basis: 40%;
    font-size: 2rem;
    position: relative;

    @include abstract.mq(sm) {
      flex-basis: auto;
      font-size: 1.4rem;
    }

    &__button {
      top: 50%;
      right: 0;
      z-index: 10;
      border: none;
      outline: none;
      color: inherit;
      position: absolute;
      transition: color .3s;
      transform: translateY(-50%);
      background-color: transparent;

      svg {
        @include abstract.mq(sm) {
          height: 1.6rem;
          width: 1.6rem;
        }
      }

      &--hidden {
        opacity: 0;
        pointer-events: none;
      }

      &:not(:disabled) {
        cursor: pointer;
      }

      &:disabled {
        color: rgba(rgb(abstract.$color-light), .3);
      }
    }
  }
}
