@use "../abstract" as var;

.header {
  top: 0;
  z-index: 20;
  position: sticky;
  padding-block: 3.2rem;
  max-height: 120rem;
  backdrop-filter: blur(10px) saturate(50%);
  background: linear-gradient(180deg, rgba(5, 5, 5), rgba(5, 5, 5, .6));
}

.navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &__search {
    flex-basis: 30%;
    font-size: 2rem;
    position: relative;

    &__button {
      top: 50%;
      right: 0;
      z-index: 10;
      border: none;
      outline: none;
      color: inherit;
      position: absolute;
      transition: color .3s;
      transform: translateY(-50%);
      background-color: transparent;

      &--hidden {
        opacity: 0;
        pointer-events: none;
      }

      &:not(:disabled) {
        cursor: pointer;
      }

      &:disabled {
        color: rgba(rgb(var.$color-light), .3);
      }
    }
  }
}