$color-light: 235 235 235;
$color-purple: 111 74 142;
$color-purple-800: 34 31 59;
$color-dark: 5 5 5;

$ff-main: "Clash Grotesk", sans-serif;

$component-border: solid 1px rgba(rgb($color-light), .2);
