@use "../abstract" as var;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(var.$color-light);
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: var.$ff-main;
  color: rgb(var.$color-light);
  background-color: rgb(var.$color-dark);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.row {
  width: 95%;
  margin: 0 auto;
  max-width: 198rem;
}

main {
  position: relative;
}

a:link,
a:visited {
  text-decoration: underline;
  color: rgb(var.$color-light);
  text-decoration-color: rgb(var.$color-light);
}
