@use "../abstract" as abstract;

h1, h2, h3 {
  font-weight: bold;
  font-family: abstract.$ff-main;
}

h1 {
  font-size: 5.6rem;
}

.error {
  color: #8c4a4a;
  font-weight: lighter;

  @include abstract.mq(md) {
    font-size: 1.4rem;
  }
}